{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - Kalasya</title>
    <link rel="stylesheet" type="" href="/static/css/base.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">Kalasya</a></h1>
      <button id="theme-toggle-button"></button>
    </header>
    <nav>
      {{if .AuthenticatedUser}}
      <a href="/dashboard">Dashboard</a>
      <form method="POST" action="/logout" class="logout">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <button type="submmit">Logout ({{.AuthenticatedUser.Subdomain}})</button>
      </form>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{end}}
    </nav>
    {{with .Flash}}
    <div class="flash">{{.}}</div>
    {{end}} {{template "body" .}} {{template "footer" .}}
    <script>
      const toggleButton = document.getElementById("theme-toggle-button");

      let currentTheme;

      function setTheme(theme) {
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
        currentTheme = theme;
        toggleButton.innerHTML =
          currentTheme === "dark"
            ? '<i class="fas fa-moon"></i>'
            : '<i class="fas fa-sun"></i>';
      }

      const userPreference = localStorage.getItem("theme");
      const systemPreference = window.matchMedia("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light";

      setTheme(userPreference || systemPreference);

      toggleButton.addEventListener("click", () => {
        if (currentTheme === "dark") {
          setTheme("light");
        } else {
          setTheme("dark");
        }
      });
    </script>
  </body>
</html>
{{end}}
