{{template "dashboardBase" .}} {{define "title"}}Posts | Dashboard{{end}}
{{define "body"}}
<main>
  <a href="/blog/{{.AuthenticatedUser.Subdomain}}/dashboard/create-post">Create New Post</a>
  <section id="posts">
    <h3>Old Posts:</h3>
    {{range .Posts}}
    <li><a href="/blog/{{$.AuthenticatedUser.Subdomain}}/dashboard/posts/{{.Slug}}">{{.Title}}</a></li>
    {{end}}
    <ul></ul>
  </section>
</main>
{{end}}
