{{template "dashboardBase" .}} {{define "title"}}Posts | Dashboard{{end}}
{{define "body"}}
<main>
  <a href="/create_post">Create New Post</a>
  <section id="posts">
    <h3>Old Posts:</h3>
    <ul></ul>
  </section>
</main>
{{end}}
