{{template "dashboardBase" .}} {{define "title"}}Posts | Dashboard{{end}}
{{define "body"}}
<main>
  <a href="/dashboard/create-post">Create New Post</a>
  <section id="posts">
    <h3>Old Posts:</h3>
    {{range .BlogPosts}}
      <li>{{.Title}}</li>
    {{end}}
    <ul></ul>
  </section>
</main>
{{end}}
