{{template "dashboardBase" .}} {{define "title"}}Home | Dashboard{{end}}
{{define "body"}}
<main>
  <h1>Welcome to your Dashboard, {{.AuthenticatedUser.Name}}</h1>
  <form action="/blog/{{.AuthenticatedUser.Subdomain}}/home" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <label for="home-content">Edit your homepage content:</label>
    <textarea id="home-content" name="homeContent" rows="10" cols="50">
{{.Form.Get "homeContent" | html}}</textarea
    >
    <button type="submit">Publish</button>
    <button type="button" onclick="alert('Preview coming soon!')">View</button>
  </form>
</main>
{{end}}
