{{template "base" .}} 
{{define "title"}}Login{{end}} 
{{define "body"}}
<main>
  <form action="/login" method="POST">
    {{with .Form}} 
      {{with .Errors.Get "generic"}}
        <div class="error">{{.}}</div>
      {{end}}
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="{{.Get "email"}}" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="{{.Get "password"}}" required />

      <button type="submit">Login</button>
    {{end}}
  </form>
</main>
{{end}}
