{{template "base" .}} {{define "title"}}Register{{end}} {{define "body"}}
<main>
  <form action="/register" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
    <label for="blogname">Blog Name:</label>
    {{with .Errors.Get "blogname"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="text"
      id="blogname"
      name="blogname"
      value='{{.Get "blogname"}}'
      required
    />

    <label for="subdomain">Subdomain:</label>
    {{with .Errors.Get "subdomain"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="text"
      id="subdomain"
      name="subdomain"
      value='{{.Get "subdomain"}}'
      required
    />

    <label for="email">Email:</label>
    {{with .Errors.Get "email"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="email"
      id="email"
      name="email"
      value='{{.Get "email"}}'
      required
    />
    <label for="password">Password:</label>
    {{with .Errors.Get "password"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" id="password" name="password" required />

    <button type="submit">Register</button>
    {{end}}
  </form>
</main>
{{end}}
