{{template "base" .}} {{define "title"}}Login{{end}} {{define "body"}}
<main>
  <form action="/register" method="POST">
    <label for="blog-title">Blog Title:</label>
    <input type="text" id="blog-title" name="blog-title" required />

    <label for="subdomain">Subdomain:</label>
    <input type="text" id="subdomain" name="subdomain" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Login</button>
  </form>
</main>
{{end}}
