{{template "base" .}} {{define "title"}}Register{{end}} {{define "body"}}
<main>
  <form action="/register" method="POST">
    {{with .Form}}
    <label for="blogtitle">Blog Title:</label>
    {{with .Errors.Get "blogtitle"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="text"
      id="blogtitle"
      name="blogtitle"
      value='{{.Get "blogtitle"}}'
      required
    />

    <label for="subdomain">Subdomain:</label>
    {{with .Errors.Get "subdomain"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input
      type="text"
      id="subdomain"
      name="subdomain"
      value='{{.Get "subdomain"}}'
      required
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      value='{{.Get "email"}}'
      required
    />
    <label for="password">Password:</label>
    {{with .Errors.Get "password"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" id="password" name="password" required />

    <button type="submit">Login</button>
    {{end}}
  </form>
</main>
{{end}}
